.header {
	padding: 30px 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	font-size: var(--fz-16);
	font-weight: 400;
	color: var(--tundora-color);
	width: 100%;
	z-index: 50;

	&__container {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__nav {
		z-index: 200;

		@media(max-width:630px) {
			position: absolute;
			width: 100%;
		}
	}

	&__list {
		@include flex-v-center;
		column-gap: 45px;

		@media(max-width:745px) {
			column-gap: 22px;
		}

		@media(max-width:630px) {
			padding: 30px 0;
			position: absolute;
			top: 20px;
			left: 0;
			right: 30px;
			opacity: 0;
			visibility: hidden;
			flex-direction: column;
			row-gap: 35px;
			color: var(--aqua-squeeze-color);
			background-color: var(--tundora-color);
			border-radius: 10px;
			transition: 0.3s ease-in;
		}

		&--active {
			opacity: 1;
			visibility: visible;
		}
	}

	&__item {
		@media(max-width:630px) {
			font-size: var(--fz-20);
		}
	}

	&__link {
		position: relative;
		display: block;

		&::after {
			content: '';
			position: absolute;
			bottom: -4px;
			left: 50%;
			transform: translateX(-50%);
			height: 1.6px;
			width: 0px;
			background-color: #fb9b69;
			transition: 0.2s ease-in;
		}

		&:hover::after {
			width: 20px;
		}
	}
}
