<header class="header">
	<div class="header__container container">
		<div class="logo">
			<a href="#" title="Главная страница Global">
				<img src="img/svg/logo.svg" alt="Логотип">
			</a>
		</div>
		<nav class="header__nav">
			<ul class="header__list">
				<li class="header__item">
					<a href="#" class="header__link active">Mobile Top Up</a>
				</li>
				<li class="header__item">
					<a href="#" class="header__link">About</a>
				</li>
				<li class="header__item">
					<a href="#" class="header__link">Rate</a>
				</li>
				<li class="header__item">
					<a href="#" class="header__link">Help</a>
				</li>
			</ul>
		</nav>
		<div class="header__auth main-button">
			<button>Sign Up</button>
		</div>
		<div class="burger">
			<button class="burger__button">
				<span class="burger__line"></span>
				<span class="burger__line"></span>
				<span class="burger__line"></span>
			</button>
		</div>
	</div>
</header>
