:root {
	// main font-family
	--font-family: 'Poppins', sans-serif;

	// colors
	--mine-shaft-color: #2d2d2d;
	--tundora-color: #4a4a4a;
	--boulder-color: #7c7c7c;
	--dove-color: #707070;
	--silver-color: #a1a1a1;
	--white-color: #fff;
	--aqua-squeeze-color: #ecf7f3;
	--ocean-green-color: #48b774;
	--ocean-green-hover: rgb(21, 145, 70);
	--coral-color: #ff8345;
	--tan-hide-color: #fd905a;

	// font-sizes
	--fz-48: 48px;
	--fz-40: 40px;
	--fz-20: 20px;
	--fz-16: 16px;
	--fz-16: 15px;

	//indent
	--indent-50: 50px;
}
