// базовые подключения
@import "./vendor/normalize";
@import "vars";
@import "mixins";
@import "fonts";

// * {
// 	outline: solid 1px red;
// }

// основные настройки разметки
body {
	font-family: var(--font-family);
	font-size: var(--fz-16);
	font-weight: 500;
	background-color: var(--aqua-squeeze-color);
}

.container {
	max-width: 1143px;
	margin: 0 auto;
	padding: 0 15px;
}

// подключения компонентов страницы
@import "./components/general";
@import "./components/header";
@import "./components/burger";
@import "./components/hero";
